sudo: required

language: generic

services:
  - docker

before_install:
  - echo "start Creating an image with dockerfile"
  - docker build -t 0rogyy/docker-react-app -f Dockerfile.dev .

script:
  - docker run -e CI=true 0rogyy/docker-react-app npm run test -- --coverage

deploy:
  provider: elasticbeanstalk
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key:
    secure: $AWS_SECURE_KEY
  region: "ap-northeast-2"
  app: "docker-react-app"
  env: "DockerReactApp-env"
  bucket_name: "elasticbeanstalk-ap-northeast-2-488389069873"
  bucket_path: "docker-react-app"
  on:
    branch: master
  role: $AWS_ROLE
